
/* box*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}







body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-image: url('360_F_379844794_4zT8uTKOCukFzhHvw2sNWmm0yK2LcuTW.jpg'); */
    /* background-color: rgb(175, 102, 209); */
}
.card {
    justify-content: center;
    width: 50em;
    height: 40em;
    background-color: transparent;
    opacity: .7;
    border-radius: 20px;
    opacity: .9;
    margin-top: 100px; 
}
.weather{
    text-align: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 40px; 
}
.search{
    justify-content: center;
    text-align: center;
    margin-top: 5px;

}
input.search-bar {
    outline: none;
    font-family: inherit;
    padding: .8em;
    border-radius: 1.5em;
    border: none;
    width: 175px;
    background-color: white;
    opacity: .7;
}
input.search-bar:hover {
    opacity: 1;
    border: 2px, rgb(58, 58, 161);
}

#city.city{
    justify-content: center;
    text-align: center;
    color: white;
    font-family: Didot;
    font-weight: bold;
}
.temp {
    /* font-size: 20px; */
    justify-content: center;
    text-align: center;
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: Didot;
}
.searchbutton {
    padding: 10px;
    border-radius: 100px;
    outline: none;
    border: none;
    width: 37px;
    background-color: white;
    position: absolute;
    margin-left: 5px; 
    opacity: .5;
    /* bottom:12px;left:180px */
}
.searchbutton:hover {
    opacity: 1;
}
.description {
    font-size: 30px;
    padding: 5px;
    color: white;
    font-family: Didot;
    font-weight: bold;
}
.humidity {
    color: white;
    font-family: Didot;
    font-size: 15px;

}
.wind {
    color: white;
    font-family: Didot;
    font-size: 15px;
    margin-right: 10px;
}
.weather-weekly {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    margin: auto; 
    margin-top: 30px;
    margin-bottom: 60px;
    color: white;
}
.template {
    /* border-color: white;
    background-color: rgb(202, 202, 202); */
    color: white;
    /* border-style: solid; */
    /* background-color: white; */
    text-align: center;
    border-radius: 1.5em;
    border-width: 4px 4px 4px 4px;
    margin: 5px;
    height: 40px;
    font-family: Didot;
}
.day {
    margin: 5px;
}